body{
  background-image:url('./assets/star.jpeg');
}
.brand {
font-family: 'Sono', sans-serif;
color: rgb(88,204,2);
font-size:40px;
margin-right:100px;
/* border:solid 2px black; */
padding-right:1000px;
}

#homepage {
  
  text-align: center;
  padding-top: 50px;
  padding-bottom: 600px;
}

#homepageheader {
  font-family: 'Sono', sans-serif;
  padding-top: 70px;;
  padding-bottom: 90px;
  font-size:40px;
}

#register, #login {
  padding:25px;
  border: rgb(4,44,96) solid 2px;
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
  margin-left: 700px;
  margin-right:700px;
  margin-top:30px;
  background-color:  rgb(88,204,2);
}
Link {
  text-decoration: none;
  color:white;
}
.fa {
  /* border:2px solid; */
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
footer {
  margin-top: 300px;
}

#loginform, #register-form {
  padding-top: 100px;
  width: 20%;
  margin: auto;
}

#mainPageHeader {
  text-align: center;
  padding-top: 100px;
  font-family: 'Sono', sans-serif;
  padding-bottom: 100px;
  font-size: 50px;
}

#containers {
  display: flex;
  /* border: solid 2px white; */
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  /* flex-wrap: wrap;
  flex-direction: row; */
}

.containerImg {
  width: 300px;;
  height: 200px;
  margin: auto;
}

#container {
  border: solid 2px red;
}

.vocabCard {
  border: solid  rgb(4,44,96) 2px;
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
  padding: 50px;
  width: 300px;
  height: 300px;
}

#vocabsContainer {
  padding-top: 200px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-family: 'Sono', sans-serif;

}

.word {
  color: green;
  font-size: 30px;
}

#vocabsContainerBottom {
  padding-top: 50px;
  text-align: center;
}

button {
  margin: 20px;
  border-radius: 25px;
}
.result {
  font-family: 'Sono', sans-serif;
  font-size: 20px;
}

#newCard {
  margin: 100px;
}